<footer>
  <div class="bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col" id="branding">
          <img src="/img/logo.png" alt="logo">
          <p id="app-name" class="text-light">aniConDB</p>
          <p id="app-description" class="text-light">An anime, cosplay, video game, comic book, and more convention database.</p>
        </div>
        <div class="col" id="links">
          <ul class="links-list">
            <li><a href="/" class="text-light">Home</a></li>
            <li><a href="/about" class="text-light">About</a></li>
            <li><a href="/contact" class="text-light">Contact</a></li>
          </ul>
        </div>
        <div class="col" id="tos">
          <ul class="tos-list">
            <li><a href="/tos" class="text-light">Terms of Service</a></li>
            <li><a href="/privacy" class="text-light">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col" id="social">
          <p id="social-title" class="text-light">Follow us</p>
          <ul class="social-list">
            <li>
              <a href="https://github.com/owner/aniConDB" id="github" data-external="true" rel="noopener noreferrer"
                   target="_blank" class="text-light">GitHub</a>
            </li>
            <li>
              <a href="https://github.com/owner/aniConDB" id="github" data-external="true" rel="noopener noreferrer"
                 target="_blank" class="text-light">Bluesky</a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <p id="copyright" class="text-light">&copy; aniConDB 2025</p>
    </div>
  </div>
</footer>
